<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center desc">
          <p>Simple Joy Yoga is yoga for all ages. Students learn the power of healthy breathing & the joy of being playfully present in the body. Each class includes breathwork, movement, and mindfulness. You are invited to experience the centering practice of Simple Joy Yoga.</p>
        </a>
      </div>
    </div>
  </div>
</section>
